{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": {
          "node": "current",
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
