<div class="content__main{{#if article.hasRelatedContents}} content__main--has-related-articles{{/if}}{{~#if isShortVariation}} content__main--short{{/if}}"
  {{#if giftStatus.isEnabled}} data-js-gift-enabled{{/if}}>
</div>